.settings{
    display: flex;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
    margin: 10px;
}
.search{
    display: flex;
    flex-direction: column;
}
.set-elem{
    display: flex;
    width: 250px;
}
.choose{
    width: 120px;
}
.set-el, .settings > h3, a[href="/board/"]{
    margin-bottom: 5px;
}
.page-elements{
    display: flex;
    justify-content: space-evenly;
}
.page-elements .num-page{
    padding-right: 3px;
    width: 30px;
    color: #000;
}
.num-page:hover, a[href="/board/"]:hover{
    color: #69188f;
}
.page-elements .ten{
    flex-direction: row-reverse;
}
.count-of-elements{
    width: 50px;
}
.free{
    width: 150px;
    color: #000;
}
.table-container{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    width: 100%;
}
.table{
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 10px;
    width: 60%;
}
.first-string > th{
    margin: 0 40px 5px 0;
}
.same > th, .same > td{
    border: 1px solid grey;
    padding: 5px;
}

.mt20{
    margin-top: 5px;
    display: flex;
    width: 120px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.search{
    display: flex;
    width: 100%;
    justify-content: space-between;
}